.main-navigation {
  background-color: var(--main-color);
}

.navigation-content {
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-logo-box {
  color: white;
  font-size: 2.5rem;
}

.navigation-links {
  display: flex;
  font-size: 1.8rem;
  align-items: center;
}

.navigation-links li {
  margin-left: 2.5rem;
  color: white;
}

.navigation-links a {
  color: white;
  text-decoration: none;
  padding-bottom: 0.3rem;
}

.navigation-links a.active {
  border-bottom: 3px solid white;
}

.signup-item {
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 1rem 1.5rem;
}

.logout-item {
  cursor: pointer;
}
