:root {
  /* --main-color: #6457a6;
  --secondary-color: #9dacff; */

  --main-color: #272838;
  --secondary-color: #9899ae;
  --tertiary-color: #acadbe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: scroll;
  font-size: 62.5%;
}

body {
  background-color: var(--secondary-color);
  font-family: "Courier New", Courier, monospace;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  font: inherit;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

/* ===== Auth form styles ===== */

.auth-form-content {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.sign-up-form {
  padding: 2rem 4rem;
  background-color: var(--main-color);
  color: white;
  border-radius: 4px;
  max-width: 100%;
  width: 40rem;
}

.form-header {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.form-control {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.form-control label {
  display: block;
  margin-bottom: 1rem;
}

.form-control input {
  border: 2px solid white;
  width: 40rem;
  max-width: 100%;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1.5rem;
}

.form-control input:focus {
  outline: none;
  border: 2px solid black;
}

.form-actions {
  display: flex;
  justify-content: center;
}

.form-actions button {
  border: 1px solid white;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.form-status-message {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
}

/* =====  ===== */

.welcome-text {
  max-width: 100%;
  width: 80rem;
  margin: 10rem auto;
  background-color: var(--main-color);
  color: white;
  padding: 3rem;
  border-radius: 4px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.welcome-text h1 {
  text-align: center;
  font-size: 4rem;
}

.welcome-text p {
  font-size: 2rem;
  margin-top: 1.5rem;
}

.welcome-text a {
  color: white;
  border-bottom: 1px solid white;
}

.welcome-text-header {
  padding-bottom: 1rem;
  border-bottom: 1px solid grey;
  margin-bottom: 5rem;
}

.welcome-text-footer {
  padding-top: 1rem;
  border-top: 1px solid grey;
  margin-top: 5rem;
  text-align: center;
}
